.page {
  position: relative;
  background-color: #0c141c;
}



.home-wrapper {
  position: relative;
  height: 100vh;
  z-index: 2;
}

.home-wrapper .home {
  position: relative;
  height: 100vh;
}


.collection-wrapper {
  position: relative;
  height: 100vh;
}


.collection {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #b3a090;
}



.collection-fixed {
  position: relative;

  inset: 0;

  z-index: 1;
}



.collection-normal {
  position: relative;

  z-index: 2;
}



.videos,
.buy {
  position: relative;

  min-height: 100vh;

  z-index: 2;
}