.page {
  position: relative;
  min-height: 300vh;
  background-color: #b3a090;
}

/* =========================
   HOME
   ========================= */

.home-wrapper {
  position: relative;
  height: 150vh;
}

.home-wrapper .home {
  position: sticky;
  top: 0;

  height: 100vh;

  z-index: 2;
}

/* =========================
   COLLECTION
   ========================= */

.collection {
  position: relative;

  min-height: 100vh;
  padding: 100px 10%;

  z-index: 1;
}