.collection {
  position: relative;
  isolation: isolate;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

    background:
    radial-gradient(circle at center, rgba(255, 70, 85, 0.08), transparent 28%),
    #0c141c;

  overflow: hidden;
}

.collection::before,
.buy-section::before,
.video-section ::before {
  content: "";

  position: absolute;
  inset: 0;

  z-index: -1;
  pointer-events: none;
  opacity: 0.45;

  background:
    linear-gradient(#ff4655, #ff4655) 6% 12% / 28px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 19% 26% / 42px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 34% 9% / 22px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 46% 32% / 36px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 63% 15% / 46px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 78% 29% / 26px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 91% 11% / 35px 1px no-repeat,

    linear-gradient(#ff4655, #ff4655) 4% 45% / 40px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 17% 61% / 24px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 31% 48% / 48px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 51% 66% / 32px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 68% 51% / 42px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 86% 64% / 27px 1px no-repeat,

    linear-gradient(#ff4655, #ff4655) 9% 82% / 37px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 26% 93% / 24px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 43% 79% / 44px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 59% 91% / 28px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 76% 80% / 47px 1px no-repeat,
    linear-gradient(#ff4655, #ff4655) 94% 92% / 31px 1px no-repeat;
}

.collection::after,
.buy-section::after,
.video-section::after {
  content: "";

  position: absolute;
  inset: 0;

  z-index: -1;
  pointer-events: none;
  opacity: 0.8;

  background-image: radial-gradient(
    circle,
    #ff4655 1px,
    transparent 1.5px
  );

  background-size: 70px 70px;

  mask-image: radial-gradient(
    circle at center,
    transparent 0 20%,
    black 48%
  );
}



.collection-left {
  position: relative;
  width: 38vw;
  background-color: #ece8e1;
  padding: 2.5vw;
  border-radius: 10px;
  z-index: 5;
  box-sizing: border-box;
}

.collection-left h2 {
  margin: 0 0 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.2em;

  color: #0f1923;

  font-weight: normal;
}

.aeris-word {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 1;
}

.weapon-name {
  font-size: clamp(40px, 3vw, 80px);
  line-height: 1;
}

.weapon-name-small {
  font-size: clamp(40px, 3vw, 80px);
}

.vp-price {
  display: flex;
  align-items: center;

  gap: 10px;

  margin-bottom: 35px;
}

.vp-price img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.vp-price span {
  color: #0f1923;

  font-size: 22px;
}

.weapon-buttons {
  display: flex;

  gap: 12px;

  align-items: center;
}

.weapon-button {
  width: 75px;
  height: 75px;

  padding: 8px;

  border: 1px solid #0f1923;
  border-radius: 5px;
  background: transparent;

  cursor: pointer;

  overflow: hidden;

  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

.weapon-button img {
  width: 100%;
  height: 100%;

  object-fit: contain;

  transform: rotate(0deg) scale(1);
  transform-origin: center;

  transition:
    transform 0.25s ease,
    filter 0.25s ease;
}


.weapon-button:hover {
  transform: translateY(-5px);
}

.weapon-button:hover img {
  transform: rotate(12deg) scale(1.08);
  filter: drop-shadow(0 10px 18px rgba(0, 0, 0, 0.25));
}

.weapon-button.active {
  background: rgba(50, 71, 106, 0.334);
}

.square-buttons {
  display: flex;
  gap: 12px;
  margin-top: 25px;
}

.square-buttons button {
  appearance: none;
  -webkit-appearance: none;

  width: 45px;
  height: 45px;

  border: 1px solid #c5c9ce;
  border-radius: 3px;

  cursor: pointer;

  transition:
    border-color 0.2s ease,
    transform 0.2s ease;
}

.square-buttons button:hover {
  transform: translateY(-3px);
}

.square-buttons button.selected {
  border-color: #2addc8;
  box-shadow: inset 0 0 0 1px #2addc8;
}

/* color variants */
.square-buttons .blue {
  background: linear-gradient(
    135deg,
    #8ea7d3 0%,
    #8ea7d3 50%,
    #755d50 50%,
    #755d50 100%
  );
}

.square-buttons .red {
  background: linear-gradient(
    135deg,
    #f25364 0%,
    #f25364 50%,
    #755d50 50%,
    #755d50 100%
  );
}

.square-buttons .pink {
  background: linear-gradient(
    135deg,
    #f5c1e8 0%,
    #f5c1e8 50%,
    #4d4c55 50%,
    #4d4c55 100%
  );
}

.square-buttons .purp {
  background: linear-gradient(
    135deg,
    #3f2db9 0%,
    #3f2db9 50%,
    #4d4c55 50%,
    #4d4c55 100%
  );
}
/* color variants */

.collection-content {
  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1.84vw;

  padding: 6.25vw 0 6.25vw 8vw;

  overflow: hidden;
  box-sizing: border-box;
}

.collection-right {
  position: relative;
  width: 58%;
  height: 54.6875vw;
  max-height: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: visible;
}

.carousel-half-circle {
  position: absolute;

  width: 58.59375vw;
  height: 58.59375vw;

  right: -8.75vw;
  top: 50%;

  transform: translateY(-50%);

  border: 1.5625vw solid #ece8e1;
  border-radius: 50%;

  background: transparent;
  z-index: 1;

  box-sizing: border-box;
  pointer-events: none;
}

.selected-gun {
  position: relative;
  z-index: 2;

  object-fit: contain;
  pointer-events: none;
  transform: rotate(16deg);
}

.selected-gun.gun-small {
  width: min(450px, 100%);
  top: 5px;
  right: 80px;
}

.selected-gun.gun-medium {
  width: min(540px, 82%);
  right: -5px;
}

.selected-gun.gun-large {
  width: min(920px, 100%);
  right: -30px;
}

.weapon-carousel {
  position: absolute;

  width: 54.6875vw;
  height: 54.6875vw;
  right: -3.90625vw;
  top: 28vw;

  transform: translateY(-50%);

  overflow: hidden;
  z-index: 2;
}

.weapon-carousel .swiper-wrapper {
  width: 100%;
  height: 100%;

  align-items: center;
}

.weapon-carousel .swiper-slide {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.weapon-carousel .selected-gun {
  position: relative;

  right: auto;
  object-fit: contain;
}


/* card */

.collection-card-scene {
  position: absolute;

  top: 50%;
  right: 10.546875vw;

  width: 22.65625vw;
  height: 14.0625vw;

  perspective: 93.75vw;

  transform: translateY(-50%);
  z-index: 1;
}

.collection-card {
  width: 100%;
  height: 100%;

  transform: rotateX(30deg) rotateY(-30deg) rotateZ(30deg);
  transform-style: preserve-3d;
  transform-origin: center;

  transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);

  cursor: pointer;
}

.card-face {
  position: absolute;
  inset: 0;

  display: grid;
  place-items: center;

  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 12px;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  background: rgba(10, 21, 49, 0.8);

  box-shadow: 0 0 22px rgba(255, 255, 255, 0.2);
}

.card-back {
  transform: rotateY(180deg);
}

.card-diamond {
  width: 58%;
  height: 65%;

  border: 2px solid #ffffff;

  transform: rotate(45deg);

  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.8),
    inset 0 0 10px rgba(255, 255, 255, 0.35);
}

.collection-card-flip {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}

/* card */